<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.sist.vo.GoodsVO" alias="GoodsVO"/>
 		<typeAlias type="com.sist.vo.Goods2VO" alias="Goods2VO"/>
 		<typeAlias type="com.sist.vo.CartVO" alias="CartVO"/>
 	</typeAliases>
 	<mappers>
 		<mapper resource="com/sist/mapper/goods-mapper.xml"/>
 	</mappers>
 </configuration>