.cartHead{
	padding-left:20px;
	margin-top: 20px;
    display: flex; /* 플렉스 박스 사용 */
    justify-content: space-around; /* 각 div를 고르게 분배 */
    height: 100px; /* div의 높이 설정 (필요에 따라 조정) */
    background-color: #F8C200;
}
.cartHead div {
    flex: 1; /* 각 div의 너비를 동일하게 설정 */
}
h1{
	font-weight: bold;
	font-size: 35px;
	font-family: 'NexonLv2Gothic';
	
}
h3{
	font-weight: bold;
	font-size: 15px;
	font-family: 'NexonLv2Gothic';
}
.cartBox{
	padding: 20px;
	background-color: #f1f1f1;
	font-family: 'NexonLv2Gothic';
}
.cart{
	background-color: white;
	font-family: 'NexonLv2Gothic';
}
.cartHeadInfo{
	padding-top: 40px;
}
.commu_list {
	width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'NexonLv2Gothic';
}
.cartList{
	border-top: 1px solid #F8C200;
}
.cartList > th{
	padding: 9px;
	font-family: 'NEXON Lv2 Gothic';
}
.cartList > td{
	height:80px;
	font-family: 'NEXON Lv2 Gothic';
	text-align: center;
	vertical-align: middle;
}
.cartList input[type="button"]:hover {
	filter: brightness(0.9);
}
#totalprice{
	display: grid;
	margin-top: 20px;
	padding: 20px;
	height: 150px;
	border: 4px solid #999;
	background-color: white;
	grid-template-rows: 4fr 1fr 2fr;
}
#f_button > div > button {
	display:block;
	width: 180px;
	border: 1px solid red;
	font-family: 'NexonLv2Gothic';
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding: 18px 0px;
}
#f_button > div:hover,#chooseBtn > div > button:hover {
	filter: brightness(0.8);
}
#chooseBtn{
	display: flex;
	gap: 3px;
}
#chooseBtn > div > button{
	background-color: #999;
	color: white;
	font-family: 'NexonLv2Gothic';
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding: 5px 2px;
}
p:hover,h1:hover,th:hover,td:hover,span:hover{
	cursor: default;
}
