/* ---------------- CATE ---------------- */
.category{
    overflow:hidden;
    position:relative;
    height:90px;
}
.category .cate_list{
    position:absolute;
    top:0;
    right:-46%;
    display:flex;
	justify-content:space-between;
    flex-wrap:nowrap;
    width:1700px;
    transition:.3s;
}
.category .cate_list.scroll{
    right:0;
}
.category .cate_list a{
    padding:5px;
    text-align:center;
}
.category .cate_list a p:first-child{
    font-size:32px;
    margin-bottom:10px;
}
.category .cate_list a:hover p:last-child{
    font-weight:500;
}
.category button.control{
    background:no-repeat;
    width:30px;
    height:100%;
    text-indent:-9999em;
    cursor: pointer;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:1;
}
.category button.prev{
    display:none;
    background-image:url(../images/prev.png), linear-gradient(to right, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
    background-position:left center;
    left:0;
}
.category button.next{
    background-image:url(../images/next.png), linear-gradient(to left, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
    background-position:right center;
    right:0;
}