#join{
	font-family: 'NexonLv2Gothic';
	padding-top:50px;
}
#join .tt_box{
    margin-bottom:80px;
    text-align:center;
}
#join .tt_box h2{
    display:inline-block;
    font-size:30px;
    font-weight:500;
    position:relative;
    z-index:1;
}
#join .tt_box h2::after{
    content:'';
    width:100%;
    height:20px;
    background:#f8c200b5;
    position:absolute;
    top:50%;
    left:20px;
    z-index:-1;
}
/*-------------------- FORM ---------------------*/
#join .join_wrap{
    width:70%;
    max-width:800px;
    margin:0 auto;
}
#join .join_wrap > p{
    text-align:right;
    margin-bottom:5px;
}
#join .join_wrap span{
    color:#e02f2f;
}
#join .join_wrap form{
    border-top:2px solid #1E1A1A;
    padding:80px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#join .join_wrap form .center > div + div{
    margin-top:55px;
}
#join .join_wrap form .hasBtn{
    display:flex;
    align-items:center;
}
#join .join_wrap form .hasBtn input[type="button"]{
    width:150px;
    height:40px;
    line-height:36px;
    text-align:center;
	border-radius:5px;
    background:#F8C200;
    font-size:15px;
    color:#1E1A1A;
    cursor:pointer;
}
#join .join_wrap form .hasMsg{
	position:relative;
}
#join .join_wrap form .check_msg{
	position:absolute;
	top:calc(100% + 10px);
	left:150px;
	background: #f8c2005e;
    color: #ff0000;
}
#join .join_wrap .input_wrap{
    display:grid;
    grid-template-columns:150px 400px;
    margin-right:20px;
    align-items:center;
}
#join .join_wrap .input_wrap input{
    padding:5px;
    border-bottom:1px solid #1E1A1A;
}
#join .join_wrap .input_wrap .radios{
    display:flex;
    gap:30px;
}
#join .join_wrap .input_wrap .radios .radio_btn{
    display:flex;
    flex-direction:row-reverse;
    gap:5px;
}
#join .join_wrap select{
	width:199px;
	border-bottom:1px solid #1E1A1A;
	padding:5px;
}
#join .join_wrap .center > div:nth-last-child(2){
    margin-bottom:70px;
}
#join .join_wrap form .form_btns{
    display:flex;
    justify-content:center;
    gap:20px;
}
#join .join_wrap form .form_btns button{
    font-size:18px;
    padding:10px 50px;
    border-radius:5px;
    background:#dcdcdc;
    cursor:pointer;
}
#join .join_wrap form .form_btns button:first-child{
    background:#F8C200;
    color:#1E1A1A;
    font-weight:500;
}

