#login{
	font-family: 'NexonLv2Gothic';
    padding:50px 0;
}
#login .tt_box{
    text-align:center;
    margin-bottom:20px;
}
#login .tt_box a{
    display:inline-block;
}

/*------------------ FORM --------------------*/
#login form{
    width:450px;
    padding:30px;
    margin:0 auto;
    box-sizing:border-box;
}
#login form .autologin{
	text-align:right;
	margin-bottom:10px;
}
#login form .autologin input{
	margin-right:10px;
}
#login form .login_box{
    border:1px solid #1E1A1A;
    margin-bottom:20px;
}
#login form .login_box .input_wrap{
    position:relative;
}
#login form .login_box .input_wrap:first-child{
    border-bottom:1px solid #1E1A1A;
}
#login form .login_box .input_wrap label{
    position:absolute;
    top:50%;
    left:20px;
    transform:translateY(-50%);
    color:#898888;
    transition:.3s;
}
#login form .login_box .input_wrap label.active,
#login form .login_box .input_wrap input:focus + label{
    top:15px;
    color:#1E1A1A;
    font-size:12px;
}
#login form .login_box input{
    width:100%;
    padding:25px 20px 10px;
    box-sizing:border-box;
    position:relative;
}
#login form .login_box .input_wrap:focus-within::after{
    content:'';
    width:calc(100% - 2px);
    height:calc(100% - 2px);
    border:2px solid #F8C200;
    position:absolute;
    top:-1px; bottom:0; left:-1px; right:0;
    z-index:1;
}
#login form .error{
    color:#e12828;
    font-size:14px;
    height:20px;
    margin-bottom:10px;
}
#login form button{
    text-align:center;
    border:1px solid #1E1A1A;
    width:100%;
    background:#F8C200;
    color:#1E1A1A;
    padding:15px 0;
    cursor: pointer;
}
#login .login_links{
    display:flex;
    justify-content:center;
    margin-bottom:50px;
}
#login .login_links li{
    padding:0 20px;
}
#login .login_links li:not(:last-child){
    border-right:1px solid #1E1A1A;
}
#login .login_links a{
    font-size:14px;
}
#login .sns_btns{
    display:flex;
    justify-content:center;
    gap:20px;
}
#login .sns_btns a{
    display:block;
    width:40px;
    height:40px;
    border-radius:20px;
    background:no-repeat center;
    text-indent:-9999em;
}
#login .sns_btns li:nth-child(1) a{
    background-image:url(../images/icon_kakao.svg);
    background-color:#fedd35;
}
#login .sns_btns li:nth-child(2) a{
    background-image:url(../images/icon_naver.svg);
    background-color:#1ec800
}
#login .sns_btns li:nth-child(3) a{
    background-image:url(../images/icon_apple.svg);
    background-color:#111;
}