body{
	font-family:'NexonLv2Gothic';
}
.NoticeInsert{
	width:600px;
	margin:0 auto;
	font-family:'NexonLv2Gothic';
}
.NoticeInsert > h1{
	text-align:center;
	font-size:30px;
	font-family:'NexonLv2Gothic';
    margin-bottom:20px;
    color:#333;
    border-bottom:5px solid #f8c200;
    padding-bottom:10px;
    text-align:center;
}
.Form{
	height:500px;
	text-align:center;
}
.NoticeIable{
	width:100%;
    border-collapse:collapse;
}
.NoticeTable th, .NoticeTable td{
    padding:15px;
    text-align:left;
    border-bottom:1px solid #ddd;
}
.notice_table th{
    vertical-align: middle;
}
.notice_tablee th{
    background-color:rgb(78, 107, 63);
    color:white;
    font-weight:bold;
}
.NoticeForm input, .NoticeForm textarea, .NoticeForm select{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:5px;
    box-sizing:border-box;
    font-size:14px;
}
.notice-form-button{
    border:none;
    background-color:#f8c200;
    color:white;
    padding:10px 20px;
    cursor:pointer;
    border-radius:5px;
    font-size:14px;
    margin:5px;
    width:80px;
}
.NoticeForm input[type="button"]{
    border:none;
    background-color:gray;
    color:white;
    padding:10px 20px;
    cursor:pointer;
    border-radius:5px;
    font-size:14px;
    margin:5px;
    width:80px;
}
.NoticeBtns > td{
	text-align:center;
}
.notice-checkbox-container{
    display:inline-flex;
    align-items:center;
    gap:5px;
}
.notice-checkbox-container input[type="checkbox"]{
    margin:0;
}