#reward p,
#reward pre,
#reward label,
#reward input,
#reward button{
	font-family: 'NEXON Lv2 Gothic';
}
#reward.container{
    width:600px;
}
#reward h2{
	font-family: 'NEXON Lv2 Gothic';
    font-weight:700;
    font-size:22px;
    display:inline-block;
    padding:10px 0;
    border-bottom:3px solid #F8C200;
    margin-bottom:30px;
}
#reward .reward_box{
    margin-bottom:30px;
}
#reward .reward_box .title{
    line-height:1.2em;
    margin-bottom:20px;
}
#reward .reward_box pre{
    color:#9e9c9c;
    line-height:1.2em;
    margin-bottom:30px;
}
#reward .reward_box .account_price{
    display:flex;
    justify-content:end;
    align-items:center;
    gap:20px;
}
#reward .reward_box .account_price p{
    font-weight:700;
}
#reward .reward_box .account_price .account{
    display:flex;
    gap:10px;
    align-items:center;
    margin-bottom:10px;
}
#reward .reward_box .account_price .account .number{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:20px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:5px;
}
#reward .reward_box .account_price .account .number p{
	padding-top:5px;
}
#reward .reward_box .account_price .account .number span{
    font-size:30px;
    font-weight:300;
    cursor:pointer;
}
#reward .reward_box .account_price input#number{
    width:50px;
}
#reward .reward_box .account_price .price{
    font-size:20px;
}
#reward .reward_box .account_msg{
	text-align:right;
	font-size:14px;
    color:#9e9c9;
    padding-bottom:20px;
    border-bottom:1px solid #ccc;
}
#reward .reward_box .del_pay,
#reward .pay{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
    border-bottom:1px solid #ccc;
}
#reward .reward_box .del_pay p:last-child{
    font-weight:700;
}
#reward .pay{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #ccc;
    margin-bottom:30px;
}
#reward .pay p{
    font-size:20px;
    font-weight:700;
}
#reward .delivery_box{
    margin-bottom:50px;
}
#reward .delivery_box > div{
    margin-bottom:20px;
}
#reward .delivery_box > div label span{
	font-size:14px;
	font-weight:400;
	color:#fd0c0c;
	margin-left:5px;
}
#reward .delivery_box > div label:not(.ck_box label){
    display:block;
    font-weight:500;
    margin-bottom:5px;
}
#reward .delivery_box > div input:not(.ck_box input){
    width:80%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}
#reward .delivery_box .ck_box input{
	margin-right:5px;
}
#reward .delivery_box .addr > div{
    display:flex;
    align-items:end;
    gap:10px;
    margin-bottom:10px;
}
#reward .delivery_box .addr .post_addr{
	margin-bottom:10px;
	display:none;
}
#reward .delivery_box .addr .post_addr span:first-child{
	margin-right:5px;
}
#reward .delivery_box .addr input[type="button"]{
	width:auto;
    padding:7px 5px 5px;;
    border-radius:5px;
    background:#ccc;
    color:#fff;
    font-weight:500;
}
#reward form > button{
    width:100%;
    text-align:center;
    padding:17px 0 15px;;
    border-radius:5px;
    background:#F8C200;
    color:#fff;
}