<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.GoodsMapper">
	<resultMap type="GoodsVO" id="goodsDetail">
		<result column="fgno" property="fg_no"/>
		<collection property="imgs" column="fg_no = fgno" ofType="String" javaType="List" select="goodsImgData"/>
		<collection property="detail" column="fg_no = fgno" ofType="String" javaType="List" select="goodsDetailInfoData"/>
		<collection property="gvo" column="fg_no = fgno" ofType="Goods2VO" javaType="List" select="goodsOption"></collection>
	</resultMap>
	<!-- 디테일 -->
	<select id="goodsDetailData" resultMap="goodsDetail" parameterType="int">
		SELECT fgno,title,brand,price,discount,delivery,hit,cate1,cate2,cate3,cate4 
		FROM f_goods
		WHERE fgno=#{fg_no} 
	</select>
	<select id="goodsOption" resultType="Goods2VO" parameterType="GoodsVO">
		SELECT ops,ea FROM f_goods_option
		WHERE fgno=#{fg_no}
	</select>
	<select id="goodsDetailInfoData" resultType="String" parameterType="GoodsVO">
		SELECT detail FROM f_goods_detail
		WHERE fgno=#{fg_no}
		ORDER BY count
	</select>
	<select id="goodsImgData" resultType="String" parameterType="GoodsVO">
		SELECT img FROM f_goods_img
		WHERE fgno=#{fg_no}
	</select>
	<!-- 리스트 -->
	<select id="goodsListData" resultType="GoodsVO" parameterType="map">
			SELECT fgno as fg_no ,title,brand,discount,price,img,num 
			FROM (SELECT fgno,title,brand,discount,price,img,rownum as num 
			FROM (SELECT /*+INDEX_ASC(fg fgs_fgno_pk)*/fg.fgno,fg.title,fg.brand,fg.discount,fg.price,fgi.img 
			FROM f_goods fg LEFT JOIN (SELECT fgno,MAX(img) as img FROM f_goods_img fgi GROUP BY fgno order by fgno) fgi 
			ON fg.fgno=fgi.fgno
			<choose>
			  <when test="cateInfo == 2">
				WHERE fg.cate2 LIKE '%'||#{cate}||'%'
			  </when>
			   <when test="cateInfo == 3">
				WHERE fg.cate3 LIKE '%'||#{cate}||'%'
			  </when>
			   <otherwise>
				WHERE fg.cate1 LIKE '%'||#{cate}||'%'
			  </otherwise>
			</choose>
			
			)) 
			WHERE num BETWEEN #{start} AND #{end}
	</select>
	<resultMap type="CartVO" id="cartDetail">
		<result column="gPrice" property="gvo.price"/>
		<result column="img" property="gvo.img"/>
		<result column="title" property="gvo.title"/>
		<result column="brand" property="gvo.brand"/>
		<result column="delivery" property="gvo.delivery"/>
	</resultMap>
	<!-- 카트리스트 -->
	<select id="cartListData" resultMap="cartDetail" parameterType="String">
		SELECT fgcno,fc.price,fc.fgno,account,fc.ops,fg.title,fg.brand,fg.delivery , fgi.img ,fg.price as gPrice , fgo.ea as max
		FROM f_goods_cart fc 
		JOIN f_goods fg ON fc.fgno = fg.fgno 
		LEFT JOIN (SELECT fgno, MAX(img) AS img FROM f_goods_img GROUP BY fgno) fgi ON fc.fgno = fgi.fgno
		LEFT JOIN f_goods_option fgo ON fc.fgno=fgo.fgno  AND fc.ops=fgo.ops
		WHERE id=#{id}
		ORDER BY fgcno DESC
	</select>
	<select id="orderListData" resultMap="cartDetail" parameterType="java.util.List">
		SELECT fgcno,fc.price,fc.fgno,account,fc.ops,fg.title,fg.brand,fg.delivery , fgi.img ,fg.price as gPrice , fgo.ea as max
		FROM f_goods_cart fc 
		JOIN f_goods fg ON fc.fgno = fg.fgno 
		LEFT JOIN (SELECT fgno, MAX(img) AS img FROM f_goods_img GROUP BY fgno) fgi ON fc.fgno = fgi.fgno
		LEFT JOIN f_goods_option fgo ON fc.fgno=fgo.fgno  AND fc.ops=fgo.ops
		WHERE fc.fgcno IN 
        <foreach item="fgcno" collection="list" open="(" separator="," close=")">
            #{fgcno}
        </foreach>
        ORDER BY fgcno DESC
	</select>
	<!--  카트 삭제 -->
	<delete id="cartDelete" parameterType="java.util.List">
		DELETE FROM f_goods_cart WHERE fgcno IN
		<foreach collection="list" item="fgcno" open="(" separator="," close=")">
			#{fgcno}
		</foreach>
	</delete>
</mapper>